export TF_VAR_aws_region=us-east-1
export TF_VAR_env_name=JUL/9
# https://cloud-images.ubuntu.com/aws-eks/
export TF_VAR_image_id=ami-0fc3ca5b2c5e1fb11
export TF_VAR_instance_type=t3a.small
export TF_VAR_min_size=1
export TF_VAR_desired_capacity=1
export TF_VAR_max_size=10
export TF_VAR_root_size=32
export TF_VAR_extra_size=1
export TF_VAR_use_spot=false

export AWS_PROFILE=sandbox
#export AWS_ACCESS_KEY_ID=AKIASVQBTBOQQUE3UOOU
#export AWS_SECRET_ACCESS_KEY=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

export CR_PAT=05f374c46841b759a0f7eab014feb40627026b4d

export AWS_REGION=us-west-2
export SKIP_PREFLIGHT_CHECK=true
export DISABLE_NEW_JSX_TRANSFORM=true

# packages/bc-server/.env
export GITHUB_CLIENT_ID=a650f742e6ebd9468e16
export GITHUB_CLIENT_SECRET=7ae0e799caf8c0b82ff7bc7bc0702c5b943541a2
export GITHUB_REDIRECT_URI=http://localhost:3001/api/auth/gh/callback
export GOOGLE_CLIENT_ID=582661939857-0r00277qn5dft5qbrgjdugn3upomlb13.apps.googleusercontent.com
export GOOGLE_CLIENT_SECRET=WzN--kkxPZcT7BqBppCwxho3
export GOOGLE_REDIRECT_URI=http://localhost:3001/api/auth/google/callback
export FACEBOOK_CLIENT_ID=341989876530714
export FACEBOOK_CLIENT_SECRET=258ad95ff08d6aafc1a7a14a9a5c0330
export FACEBOOK_REDIRECT_URI=http://localhost:3001/api/auth/facebook/callback
export CLIENT_URL=http://localhost:3000
export DATABASE_URL=tcp://postgres:password@localhost:5432/postgres
export DATABASE_SSL=false
export REDIS_URL=redis://h:foobared@localhost
export GH_DEMO_TOKEN=4be64ad8c2a122dd20a8af12317c6370fa140333

export GH_MIGRATION_TOKEN=testing
export DISABLE_NEW_JSX_TRANSFORM=true
